* {
	margin: 0;
	padding: 0;
}

body {
	background: blue;
	justify-content: center;
}

.circle-object {
	width: 50px;
	height: 50x;
	background: #ff9d55;
	padding: 10px;
	border-radius: 50%;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
	cursor: pointer;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	justify-content: center;
	align-items: center;
}

.typewriter h4 {
	overflow: hidden; /* Ensures the content is not revealed intil animated*/
	border-right: .15em solid orange;/*typewriter cursor*/
	white-space: nowrap;
	margin: 0 auto;
	letter-spacing: .15em;
	animation: typing 3.5s steps(40, end), blink-caret .75s step-end infinite;
}

@keyframes typing {
	from { width: 0 }
	to { width: 100% }
}

@keyframes blink-caret {
	from, to { border-color: transparent }
	50% { border-color: orange; }
}
